<%# include('../routes/customers.js') -%>
<link href="/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<%- include ('./partials/nav') %>
<div class="container">
    <h1>All the customers</h1>
    <div>
        <%#= all_customers %>
    </div>
    <div>
        <ul>
            <% all_customers.forEach(function(value) { %>
            <li>Name: <%= value.name %>, Active: <%= value.is_active %>, Id: <%= value.id %> , Url: <%= value.url %>
            </li>
            <% }) %>
        </ul>
    </div>
</div>